/*
Error: Invalid CSS after "...   inline-block": expected "{", was ";margin-top: "
        on line 821 of _styles.scss
        from line 55 of bootstrap.scss

816:     .well-science {
817: 
818:         .science-img {
819: 
820:             width: 360px;
821:             inline-block;margin-top: 
822:             20px; border: 
823:             16px solid #eceade;
824:         }
825:     }
826: 

Backtrace:
_styles.scss:821
bootstrap.scss:55
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:665:in `block_contents'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:409:in `media_directive'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:222:in `special_directive'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:197:in `directive'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/engine.rb:312:in `to_tree'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/stack.rb:88:in `block in with_import'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/stack.rb:88:in `with_import'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/stack.rb:79:in `block in with_base'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/stack.rb:115:in `with_frame'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/stack.rb:79:in `with_base'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:160:in `visit'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:159:in `visit'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:305:in `call'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:305:in `_process_changes'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:269:in `block in _wait_for_changes'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:252:in `loop'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:252:in `_wait_for_changes'
/Users/manolobevia/.rvm/gems/ruby-2.1.5/gems/listen-2.10.1/lib/listen/listener.rb:341:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...   inline-block\": expected \"{\", was \";margin-top: \"\A         on line 821 of _styles.scss\A         from line 55 of bootstrap.scss\A \A 816:     .well-science {\A 817: \A 818:         .science-img {\A 819: \A 820:             width: 360px;\A 821:             inline-block;margin-top: \A 822:             20px; border: \A 823:             16px solid #eceade;\A 824:         }\A 825:     }\A 826: "; }
