.row {
  margin: 0; }

a {
  color: #b37f2c; }

.active {
  color: #4d4e53; }

body {
  font-family: "Roboto Condensed","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  overflow-x: hidden; }

/*---------------------------------------
   ### HEADER / CU Branding / Main Nav
----------------------------------------*/
header {
  /*---------------------------------------
  ### MCU Branding / tool bar (mobile menu 
      plus search )
  ----------------------------------------*/
  height: 45px;
  width: 100%;
  background-color: #4d4e53;
  top: 0;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }
  header .cu-logo {
    padding-left: 5px; }
  header .glyphicon-search {
    font-size: 18px;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
    color: #fff; }
    header .glyphicon-search:hover {
      opacity: .5; }

/*---------------------------------------
   ### Main Nav
----------------------------------------*/
.navbar {
  background-color: transparent;
  border: none; }

.navbar.navbar-default .navbar-header button {
  position: absolute;
  top: -49px;
  right: 8px;
  border: none; }
  .navbar.navbar-default .navbar-header button:hover {
    opacity: .5; }
  .navbar.navbar-default .navbar-header button .icon-bar {
    background-color: #fff; }

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: transparent; }

.container-fluid {
  padding: 0; }

#bs-example-navbar-collapse-1 {
  margin: 0;
  background-color: #fff;
  padding: 0; }
  #bs-example-navbar-collapse-1 ul {
    margin: 0;
    font-size: 20px;
    padding-left: 10px; }
    #bs-example-navbar-collapse-1 ul li.active a {
      background-color: transparent;
      color: gray;
      padding-right: 0;
      padding-left: 0;
      margin-right: 15px;
      padding-bottom: 10px; }
    #bs-example-navbar-collapse-1 ul li a {
      color: #4d4e53;
      padding-right: 0;
      padding-left: 0;
      margin-right: 15px;
      padding-bottom: 10px;
      border-bottom: 1px dotted gray; }
      #bs-example-navbar-collapse-1 ul li a:hover {
        color: gray;
        border-bottom: 1px dotted gray; }

/*---------------------------------------
    ### Hero content homepage
---------------------------------------*/
.hero {
  padding-top: 50px;
  margin: 0;
  padding-bottom: 20px;
  width: 100%;
  background: #ebeade url("../images/bg-hero-home.jpg") no-repeat top left;
  background-size: cover; }
  .hero .about {
    padding-left: 10px;
    padding-right: 10px; }
    .hero .about h1 {
      font-size: 30px;
      color: #207d93;
      line-height: 1em;
      font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 700; }
      .hero .about h1 span {
        color: #5a5b5e;
        font-size: 18px;
        font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 400;
        display: inline-block;
        padding-top: 10px;
        line-height: 1.3em; }
    .hero .about p {
      font-size: 22px;
      color: #4d4e53;
      line-height: 1.29em;
      padding-top: 10px; }
    .hero .about .button-home {
      background-color: #4d4e53;
      color: #fff;
      padding: 7px 30px;
      font-size: 20px;
      display: inline-block;
      margin-top: 10px;
      text-align: center;
      display: block;
      width: 80%;
      margin: 0 auto;
      margin-bottom: 10px;
      transition: all 0.3s ease; }
      .hero .about .button-home:hover {
        text-decoration: none;
        opacity: .5; }

/*---------------------------------------
    ### Hero content homepage features
---------------------------------------*/
.home-features {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px; }
  .home-features article {
    margin-bottom: 20px;
    width: 95%; }
    .home-features article header {
      height: auto;
      width: auto;
      background-color: #fff;
      position: relative; }
      .home-features article header h1 {
        font-size: 28px;
        color: #207d93;
        padding-bottom: 10px;
        background: #fff url("../images/title-borders.png") no-repeat bottom left; }
      .home-features article header h2 {
        font-size: 20px;
        color: #f8b954; }
      .home-features article header time {
        font-size: 16px;
        color: gray; }
    .home-features article p {
      font-size: 19px; }
    .home-features article .button-graphic {
      background-color: #b37f2c;
      color: #fff;
      padding: 10px 40px;
      font-size: 18px;
      display: inline-block;
      margin-top: 10px;
      transition: all 0.3s ease; }
      .home-features article .button-graphic:hover {
        text-decoration: none;
        opacity: .5; }

/*---------------------------------------
    ### Interior Pages
---------------------------------------*/
h2 {
  font-size: 26px;
  color: #f8b954; }

p {
  font-size: 22px; }

/*---------------------------------------
    ### Footer
---------------------------------------*/
footer {
  width: 90%;
  clear: both;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 60px;
  padding-top: 40px; }
  footer .social-media {
    float: right;
    padding-top: 10px; }
  footer ul {
    list-style-type: none;
    padding: 0;
    padding-top: 20px; }
    footer ul li {
      display: inline-block;
      text-align: left; }

/*---------------------------------------
    ### Meqia Query 320px
---------------------------------------*/
/*---------------------------------------
    ### Meqia Query 480px
---------------------------------------*/
@media (min-width: 480px) {
  /*---------------------------------------
  ### Hero content homepage
  ---------------------------------------*/
  .hero .about p {
    padding-bottom: 20px; }
  .hero .about .button-home {
    display: inline-block;
    margin-top: 40px;
    width: auto;
    margin: 0 auto; } }
/*---------------------------------------
    ### Meqia Query 768pc
---------------------------------------*/
@media (min-width: 768px) {
  header {
    width: 90%; }

  .navbar {
    background-color: transparent;
    border: none; }

  #bs-example-navbar-collapse-1 {
    background-color: transparent;
    padding: 0; }
    #bs-example-navbar-collapse-1 ul {
      font-size: 20px; }
      #bs-example-navbar-collapse-1 ul li.active a {
        background-color: transparent;
        color: gray;
        padding-right: 0;
        padding-left: 0;
        margin-right: 15px;
        padding-bottom: 10px; }
      #bs-example-navbar-collapse-1 ul li a {
        color: #4d4e53;
        padding-right: 0;
        padding-left: 0;
        margin-right: 15px;
        padding-bottom: 10px;
        border-bottom: none; }
        #bs-example-navbar-collapse-1 ul li a:hover {
          color: gray;
          border-bottom: 2px solid gray; }

  .hero {
    padding-top: 85px;
    padding-left: 35px; } }
/*---------------------------------------
    ### Meqia Query 992px
---------------------------------------*/
/*---------------------------------------
    ### Meqia Query 1200px
---------------------------------------*/
/*---------------------------------------
    ### Meqia Query 140px
---------------------------------------*/
@media (min-width: 1440px) {
  header,
  .home-features,
  footer,
  .interior-content {
    width: 1440px;
    display: block;
    margin: 0 auto;
    border-bottom: 1px solid #ecedec;
    padding-bottom: 30px; }

  .hero-content {
    width: 1440px;
    margin: 0 auto; }

  .hero {
    height: 552px;
    width: 100%;
    background: #ebeade url("../images/bg-hero-home.jpg") no-repeat top right;
    background-size: cover;
    -moz-transition: background .4s ease-in-out;
    -webkit-transition: background .4s ease-in-out;
    transition: background .4s ease-in-out; }
    .hero:hover {
      background: #ebeade url("../images/bg-hero-home-t.jpg") no-repeat top right;
      background-size: cover; }

  .hero.interior-pages {
    height: 200px; }

  .home-features {
    padding-top: 30px; } }

/*# sourceMappingURL=styles.css.map */
